*.pyc
*.swp
*~
__pycache__
myvenv
db.sqlite3
/static
.DS_Store
data/
*.txt
*.doc
*.tsv
law/data2/
law/data4/
law/data4_out/
tutorials/data
assignment1/
nia/input
nia/cw18
nia/cw18_1
nia/didi4.json
nia/a
nia/*.json
nia/db_news/
nia/old/
nia/common_tsv
nia/data
nia/modi_che
nia/new
nia/no_checker
nia/no_marker
nia/no_marker_bak
nia/old
